// colors，可以写单个(a,b,c)，也可以写键值对(a:1,b:2,c:3)
// 当定义的键的名字与css样式名冲突的时候，尽量用引号括起来
$colors: (
  "primary": #db9e3f,
  "info": #4b67af,
  "blue": #4394e4,
  "blue-1": #1f3695,
  "danger": #791a15,
  "white": #fff,
  "white-1": #fcfcfc,
  "white-2": #eceef0,
  "light": #f9f9f9,
  "light-1": #d4d9de,
  "grey": #999,
  "grey-1": #666,
  "dark-1": #343440,
  "dark": #222,
  "black": #000
);

$border-color: map-get($colors, "light-1");

// font-size
$base-font-size: 1rem;
$font-sizes: (
  "xxs": 0.6154,
  //8px
  "xs": 0.7692,
  //10px
  "sm": 0.9231,
  //12px
  "md": 1,
  //13px
  "lg": 1.0769,
  //14px
  "xl": 1.2308,
  //16px
);
//水平方向的对齐方式
$flex-jc: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around
);
//垂直方向的对齐方式
$flex-ai: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  //垂直轴元素等高适应容器
    "stretch": stretch
);

// margin padding
$spacing-types: (
  "m": margin,
  "p": padding
);
$spacing-directions: (
  "t": top,
  "r": right,
  "b": bottom,
  "l": left
);
$spacing-base-size: 1rem;
$spacing-sizes: (
  "0": 0,
  "1": 0.25,
  "2": 0.5,
  "3": 1,
  "4": 1.5,
  "5": 3
);
